.flexBasis20 {
	flex-basis: 20%;

	@media only screen and (max-width: 992px) {
		flex-basis: 33%;
		.fontSizeMobile {
			font-size: 15px;
		}
	}
	@media only screen and (max-width: 767px) {
		.fontSizeMobile {
			font-size: 12px;
		}
	}
}