.boxShadow {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.608);
	-moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.608);
	box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.608);
}

.pFirst {
	padding-top: 52px;
}