.table {
	font-size: 11px;
	td {
		height: 100%;
		border: 0;
	}
}

.table-dark {
	background: $color-primary-dark;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
	--bs-table-accent-bg: var($primary);
	color: var(--bs-table-striped-color);
}