$color-dark: #00000F;
$color-dark-blue: #013C62;
$color-primary: #93BFFB;
$color-light-blue:#4CB8FF;
$color-light:rgb(238, 238, 238);

//https: //www.palettable.io/000022-268279-C7FCFF-DB5E9C-EDD3C2

$color-primary-dark: rgb(27, 4, 38);
$color-primary-green: rgb(64, 10, 58);
$color-primary-lightblue: #FFD0D0;
$color-primary-pink: rgb(247, 79, 118);
$color-primary-badge: rgb(252, 237, 215);
$color-wykres-noc: rgb(132, 132, 130);
$pink :rgb(255, 0, 108);
$blekitny: rgb(0, 111, 166);
$citrin:rgb(227, 190, 54);

$primary: $color-primary-dark !default;
$info: $color-primary-green !default;
$secondary:$color-primary-lightblue !default;
$success: $color-primary-pink !default;
$warning: $color-primary-badge !default;

@import "node_modules/bootstrap/scss/bootstrap";
