$color-dark: #00000F;
$color-dark-blue: #013C62;
$color-primary: #93BFFB;
$color-light-blue:#4CB8FF;
$color-light:#EEEEEE;

//https: //www.palettable.io/000022-268279-C7FCFF-DB5E9C-EDD3C2

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=73C1q0kgN5bllzOiVqxpU07dV00 */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-dark: #000022; // Main Primary color */
$color-primary-green: #268279; //rgb(38, 130, 121)
$color-primary-lightblue: #C7FCFF; //rgb(199, 252, 255)
$color-primary-pink: #DB5E9C; //rgb(219, 94, 156)
$color-primary-badge: #EDD3C2; //rgb(237, 211, 194)

$primary: $color-primary-dark !default;
$info: $color-primary-green !default;
$secondary:$color-primary-lightblue !default;
$success: $color-primary-pink !default;
$warning: $color-primary-badge !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $dark: $gray-900 !default;
@import "node_modules/bootstrap/scss/bootstrap";
