@import "./variables";
@import "./component/inputs.scss";
@import "./component/weather48h";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,800;1,800&display=swap');

* {
  cursor: url(./assets/icons/cursor.png), auto !important;
  cursor: -webkit-image-set( url(./assets/icons/cursor.png) 1x), auto;
}
body {
  background-color: $color-primary-dark;
  // font-family:'Quicksand', sans-serif;
  font-family:'Courgette', cursive;
  



}
#app {
    // display: block;
    width: 100%;
    #forecast {
      // background-color: $secondary;
    }
    // max-width: 1280px;
    // margin: 0 auto;
    // padding: 2rem;
    font-weight: normal;
    .section {
      background-image: url('./assets/images/miasto.jpg');
      background-position: center;
      // background-repeat: none;
      background-size: cover;
      color: $secondary;

      .bgOpacity {
        background-color: rgba($color: $primary, $alpha: 0.8);
        // height: 200px;
        padding: 20px;
      }

      .bRadius {
        border-radius: 20px;
      }
    }
}

.textPrimary {
  color:$success;
}

.textLightBlue {
  color:$color-light;
}

header.header {
  line-height: 1.5;
  height: 100px;
  background: $primary;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

a,
.green {
  text-decoration: none;
  color: $color-light;
  transition: 0.4s;
  &:hover {
    text-decoration: none;

  }
}

@media (hover: hover) {
  a:hover {
    
  }
}

@media (min-width: 1024px) {
  // header .wrapper {
  //   display: flex;
  //   place-items: flex-start;
  //   flex-wrap: wrap;
  // }

  .logo {
    margin: 0 2rem 0 0;
  }
}

body::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

$color-dark-blue: #013C62;
$color-primary: #0090EE;
$color-light-blue:#4CB8FF;
body::-webkit-scrollbar-thumb {

  border-radius: 0px;
  background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, $color-light-blue),
    color-stop(0.72, $color-primary),
    color-stop(0.86, $color-dark-blue))
}

.currentWeatherImage {
  background-color: $color-light-blue;
  border-radius: 20px;
}

//TABLE
.table {
  font-size: 11px;
  td {
    height: 100%;
    border: 0;
  }
}

.table-dark {
  background: $color-primary-dark;
}

.table-striped > tbody> tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: var($primary);
  color: var(--bs-table-striped-color);
}

//MULTISELECT
.multiselect {
  // border: 2px solid $success;
  // border-radius: 6px;
  .multiselect__option {
    span {
      display: block;
      max-width: 100%;
      overflow-wrap: break-word;

    }
    div.country {
      display: block;
      overflow-wrap: break-word;
    }
  }
  .multiselect__option--highlight {
    background: $info;
  }
  .multiselect__option--highlight.multiselect__option--selected {
    background: $success;
  }
  .multiselect__tags  input{
    background-color: $secondary;
  }
  .multiselect__tags,
  .multiselect__single {
    background: $secondary;
  }
  // --webkit-input-placeholder {
  //   background: $secondary;
  //   }

    .multiselect__content {
      background-color: $secondary;
      overflow-x: hidden;
    }
    .multiselect__content-wrapper.multiselect-leave-from.multiselect-leave-active {

    }

    .multiselect__content-wrapper::-webkit-scrollbar-track {
      --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: $secondary;
    }

    .multiselect__content-wrapper::-webkit-scrollbar {
      width: 6px;
      background-color: $secondary;
    }

    .multiselect__content-wrapper::-webkit-scrollbar-thumb {
      background: $info;
    }
}

//WYKRESY
.boxShadow {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.608);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.608);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.608);
}

//opisy do wykresów
.pFirst{
    padding-top: 52px;
}

//MODUŁ Z 5 DNI TYGODNIA
.flexBasis20 {
  flex-basis: 20%;
}

//NAGŁÓWEK
.nav-link {
  color: $secondary;
  &:hover {
    color: $success;
  }
}

.hr {
  width: calc(100% - 30px);
}

.langSelect {
  width: 50px;
  .multiselect {
    // height: 100%;
  }
}