@import "./variables";
@import "./component/inputs.scss";

#app {
    // display: block;
    width: 100%;
    background-color: $color-primary;
    // max-width: 1280px;
    // margin: 0 auto;
    // padding: 2rem;
    font-weight: normal;
    .section {
      background-image: url('./assets/images/miasto1.jpg');
      background-position: center;
      // background-repeat: none;
      background-size: cover;
      color: aliceblue;

      .bgOpacity {
        background-color: rgba($color: #000000, $alpha: 0.6);
        // height: 200px;
        padding: 20px;
      }

      .bRadius {
        border-radius: 20px;
      }
    }
}

.textPrimary {
  color:$color-primary;
}

.textLightBlue {
  color:$color-light;
}

header.header {
  line-height: 1.5;
  height: 100px;
  background: black;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

a,
.green {
  text-decoration: none;
  color: $color-light;
  transition: 0.4s;
  &:hover {
    color: $color-light-blue;
    text-decoration: none;
    
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    // display: flex;
    // place-items: center;
  }

  #app {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // padding: 0 2rem;
  }

  header {
    // display: flex;
    // place-items: center;
    // padding-right: calc(var(--section-gap) / 2);
  }

  // header .wrapper {
  //   display: flex;
  //   place-items: flex-start;
  //   flex-wrap: wrap;
  // }

  .logo {
    margin: 0 2rem 0 0;
  }
}

body::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

$color-dark-blue: #013C62;
$color-primary: #0090EE;
$color-light-blue:#4CB8FF;
body::-webkit-scrollbar-thumb {
  
  border-radius: 0px;
  background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, $color-light-blue),
    color-stop(0.72, $color-primary),
    color-stop(0.86, $color-dark-blue))
}

.currentWeatherImage {
  background-color: $color-light-blue;
  border-radius: 20px;
}
